.loading {
    padding: 10px;
}

.logo {
    height: 40vmin;zz
    margin: auto;
}

@media (prefers-reduced-motion: no-preference) {
    .logo  {
        animation: App-logo-spin infinite 20s linear;
    }
}