.App {
  /*text-align: center;*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Anton";
  /*font-weight: 50;*/
  src: url("./fonts/Anton-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Staatliches";
  /*font-weight: 50;*/
  src: url("./fonts/Staatliches-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "NanumGothicRegular";
  /*font-weight: 50;*/
  src: url("./fonts/NanumGothic-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "NanumGothicBold";
  /*font-weight: 50;*/
  src: url("./fonts/NanumGothic-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "NanumGothicExtraBold";
  /*font-weight: 50;*/
  src: url("./fonts/NanumGothic-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "BungeeShade";
  /*font-weight: 50;*/
  src: url("./fonts/BungeeShade-Regular.ttf") format("truetype");
}